; Dataplane Automated Testing System
; Copyright (c) 2015, Intel Corporation.
;
; This program is free software; you can redistribute it and/or modify it
; under the terms and conditions of the GNU General Public License,
; version 2, as published by the Free Software Foundation.
;
; This program is distributed in the hope that it will be useful, but WITHOUT
; ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
; FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
; more details.
;
; You should have received a copy of the GNU General Public License along with
; this program; if not, write to the Free Software Foundation, Inc.,
; 51 Franklin St - Fifth Floor, Boston, MA 02110-1301 USA.
;

[eal options]
-n=4 ; force number of memory channels
no-output=no ; disable DPDK debug output

[port 0]
name=if0
mac=55:55:55:00:00:01
[port 1]
name=if1
mac=55:55:55:00:00:02
[port 2]
name=if2
mac=55:55:55:00:00:03
[port 3]
name=if3
mac=55:55:55:00:00:04

[defaults]
mempool size=4K

[global]
start time=5
name=Touch (4x)

[core 0s0]
mode=master

[core 1s0]
name=none
task=0
mode=l2fwd
rx port=if0
tx port=if1
drop=no

[core 2s0]
name=none
task=0
mode=l2fwd
rx port=if1
tx port=if0
drop=no

[core 3s0]
name=none
task=0
mode=l2fwd
rx port=if2
tx port=if3
drop=no

[core 4s0]
name=none
task=0
mode=l2fwd
rx port=if3
tx port=if2
drop=no

